body {
  height: 100%;
  font-family: $main-font;
  background-color: $white-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $black-color;
}
.line-through {
  text-decoration: line-through !important;
  text-decoration-color: $red-color !important;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1300px !important;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1300px) {
  .wrapper{
    max-width: 100vw !important;
    right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
}
.dispay_hidden {
  overflow: hidden;
  transform: translateY(-1%);
  visibility: collapse;
  overflow: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
  z-index: -10;
  transition: visibility 0.5s, opacity 0.5s, transform 0.3s linear;
}
.visible {
  transform: translateX();
  visibility: visible;
  opacity: 1;
  width: unset;
  z-index: 2;
  height: unset;
  transition: visibility 0.5s, opacity 0.5s,transform 0.3s linear;
}

.product-name {
  font-size: 26px;
  font-family: $second-font;
  color: $grey-color;
}
.product-price {
  font-size: 24px;
  font-family: $second-font;
  color: $grey-color;
}

// button css
.button{
  --color: #6a5af9;
  font-family: "Poppins", sans-serif;
  color: $white-color;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  font-size: 16px;
  position: relative;
  isolation: isolate;
  border: 2px solid $blue-color;
}

.button:before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.25s ease-in;
  background-color: $blue-color;
}
.button:hover:before {
  width: 100%;
}
.btn-black {
  color: $black-color;
  transition: color 0.25s ease-in;
}
.btn-black:hover {
  color: $white-color;
}

// hover border bottom
.hover-border-bottom:after {
  display:block;
  content: '';
  border-bottom: solid 3px $yellow-color;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.hover-border-bottom:hover:after { 
  transform: scaleX(1);
  color: $yellow-color;
}
.hover-border-bottom.fromRight:after{ 
  transform-origin:100% 50%; 
  color: $yellow-color;

}
.hover-border-bottom.fromLeft:after{  
  transform-origin:  0% 50%; 
  color: $yellow-color;
}




// Flip card css
.flip-card {
  max-width: 30rem;
  height: 40rem;
  perspective: 150rem;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .front,
.flip-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card .back {
  transform: rotateY(180deg);
}

.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// TABS css
.tabs7 {
  display: flex;
  background-color: #eee;
  border-radius: 8px;
  padding: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.tabs7 .tab-item.active {
  color: #6a5af9;
  background-color: white;
}

.tabs7 .tab-item {
  white-space: nowrap;
  padding: 10px 15px;
  cursor: pointer;
  color: #999;
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

//title section

.title-section {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $second-font;
}



//  page title
.page-title {
  font-family: $second-font;
  font-size: 60px;
}

// custom scrollbar
::-webkit-scrollbar {
  margin-top: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey; 
  margin-top: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-color; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3737;
}

// check box div
.div-checkbox {
  border: 2px solid $grey-color;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: relative;
  i {
    color: $blue-color;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    background-color: $blue-sky;
    position: absolute;
    border-radius: 5px;
    top: -2px;
    left: -2px;
    text-align: center;
  }
}
.div-checkbox:hover {
  border-color: $blue-color;
}

// quantity and discount notification
.quantity-info, .discount-info {
  display: block;
  position: absolute
}
.quantity-info {
  top: 10%;
  left: 0px;
  width: 150px;
  background-color: $grey-color;
  padding: 10px;
  color: $red-color;
  font-size: 14px;
}
.discount-info {
  top: 0px;
  left: 0px;
  width: 100px;
  background-color: $red-color;
  padding: 10px;
  color: $white-color;
  font-size: 14px;
}

.path {
  background-color: $grey-color;
  padding: 10px 0px;
  font-size: 14px;
  .link {
    padding-right: 5px;
    color: $black-color;
  }
  .seperate {
    color: $black-color;
  }
  span {
    padding: 0px 5px;
    color: $white-color;
  }
}

.bg_blue {
  background-color: $blue-color !important;
}

// quantity box
.quantity-box {
  display: inline-block;
  position: relative;
  input {
    display: inline-block;
    width: 150px;
    height: 60px;
    padding: 0px 35px;
    font-size: 18px;
    border: 2px solid $grey-color;
    text-align: center;
  }
  i {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
  }
  .plus {
    top: 15px;
    right: 10px;
  }
  .minus {
    top: 15px;
    left: 10px;
  }
}

// drop down menu
.arrange {
  span {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    padding-right: 30px;
    width: 300px;
    border: 2px solid $grey-color;
    position: relative;
    font-size: 14px;
    text-align: center;
    i {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 20px;
    }
  }
  ul {
    background-color: $grey-color;
    i {
      position: absolute;
      top: -9%;
      transform: rotate(180deg);
      color: $grey-color;
      font-size: 20px;
    }
    z-index: 2;
    position: absolute;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    border: 2px solid $grey-color;
    li {
      font-size: 16px;
      margin: 15px 0px;
      cursor: pointer;
    }
  }
}
