$main-font: 'Poppins', sans-serif;
$second-font: 'Dancing Script', sans-serif;
$primary-font: 'Josefin Sans', sans-serif;

$black-color: #222120;
$grey-color: #c7c2bc;
$white-color: #ffffff;
$blue-color: #5d50d4;
$yellow-color: #248ea8;
$blue-sky: #e4fbff;
$red-color: rgb(184, 45, 45);
$orange-color: rgb(255, 120, 57);

$section-color: #F1F5F9;
