.main-wrapper{
  background-color: $section-color;
  margin-left: 245px;
}
.sidebar-nav-wrapper{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.container-fluid{
  padding-left: 25px;
}

